*{
	margin: 0;
	padding: 0;
}
.clear:after{
	content: "";
	display: block;
	clear: both;
}
.top{
	width: 100%;
	height: 120px;
	background: url(./img/36.png) no-repeat;
}
.left{
	float: left;
	margin-top: 20px;
	margin-left: 220px;
	width: 216px;
	height: 70px;
	background: url(./img/2.png) no-repeat;
}
.right ul{
	float: left;
	width: 558px;
	height: 20px;
	margin-top: 32px;
    margin-left: 136px;
	border-bottom: 2px #7C7777 solid;
}
.right li a{
	font-family: Microsoft Yahei;
	font-size: 14px;
	color: #7C7777;
	text-decoration: none;
}
.right li{
	float: left;
	padding-left: 32px;
	list-style:none;
}
.top .b{
	width: 150px;
	height: 28px;
	float: left;
	font-size: 14px;
	font-family: Microsoft Yahei;
    margin-top: 85px;
    margin-left: -900px;
	/*border: 1px red solid;*/
}
.top .b a{
	text-decoration: none;
	color: #fff;
}
.center{
	width: 890px;
	height: 1360px;
	margin: 0 auto;
	/*border: 1px red solid;*/
}
.center .center1{
	width: 380px;
	height: 30px;
	font-size: 18px;
	margin-top: 15px;
	font-family: Microsoft Yahei;
	font-weight: bold;
	margin: 0 auto;
}
.center .center2{
	width: 328px;
	height: 30px;
	margin: 0 auto;
	text-indent: 26px;
	font-size: 14px;
	color: #868686;
	font-family: Microsoft Yahei;
}
.center .center3{
	width: 870px;
	text-indent: 26px;
	font-size: 14px;
	color: #868686;
	font-family: Microsoft Yahei;
}
.center .center4{
	margin-left: 310px;
	margin-top: 20px;
}
.center5{
	width: 870px;
	text-indent: 26px;
	font-size: 14px;
	color: #868686;
	margin-top: 20px;
	font-family: Microsoft Yahei;
}
.center .center6{
	margin-left: 234px;
	margin-top: 20px;
}
.center .center7{
	width: 870px;
	font-size: 20px;
	color: #000;
	margin-top: 20px;
	font-family: Microsoft Yahei; 
}
.center .center8{
	width: 870px;
	text-indent: 26px;
	font-size: 14px;
	color: #868686;
	margin-top: 15px;
	font-family: Microsoft Yahei;
}
.center .center9{
	font-size: 14px;
	margin-top: 15px;
	font-family: Microsoft Yahei;
}
.center .center9 a{
	text-decoration: none;
	color: #000;
}
.center .center10{
	font-size: 14px;
	margin-top: 5px;
	font-family: Microsoft Yahei;
}
.center .center10 a{
	text-decoration: none;
	color: #000;
}
.bottom0{
	float: left;
	width: 100%;
	height: 118px;
	margin-top: 30px;
	/*border: 1px red solid;*/
	border-top: 2px #dad7d7 solid
}
.bottom0 .left{
	float: left;
	margin-top: 40px;
    margin-left: 225px;
	width: 170px;
	height: 40px;
	border-right: 2px red solid;
	background: url(./img/2.png) no-repeat;
}
.bottom0 .right{
	float: left;
	text-align: right;
	line-height: 25px;
	font-family: Microsoft Yahei;
    font-size: 14px;
    margin-top: 20px;
    margin-left: 14px;
	width: 630px;
	height: 60px;
	color: #868686;
	/*border: 1px red solid;*/
}
.bottom0 .right0{
	margin-top: 20px;
}


